html, body {
}

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Ideal Sans A', 'Ideal Sans B'; font-weight: 200; font-style: normal;
	color: #111;
	margin: 0;
	font-size: 16px;
	background-image: url("/images/bg.png");
	background-repeat: repeat-y;
	background-position: center;
	background-attachment:fixed;
}

a {
	color: rgb(168, 168, 168);
	text-decoration: none;
}

a:hover {
	color: rgb(118, 118, 118);
	text-decoration: none;
}

a.current {
	color: rgb(34,126,162);
}

img.logo {
	display: block;
	margin: 0 auto;
}

.container {
	text-align: center;
	color: rgb(48, 48, 48);
	font-size: 1.5em;
	margin: 0 auto;
	width: 600px;
	padding: 20px 0;
    -webkit-animation-name: FadeIn;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.3s;
}

.container p {
	padding: 0px 0px 10px 0px;
}

small {
	font-size: 0.7em;
	font-style: italic;
}

.content {
	padding: 40px 0 200px 0;
}

section {
	background-color: #fff;
	margin: 30px 120px;
}

section:first-of-type {
	margin-top: 60px;
}

section.bottom {
	text-align: center;
	width: 75%;
	position: fixed;
	left: 50%;
	margin: 0 0 0 -37.5%;
	bottom: 20px;
	font-size: 0.9em;
	padding: 15px 0;
}

/* TYPE */

h1 {
	font-weight: 800; font-style: normal;
	font-size: 2em;
}

/* circles n shit */

.circle_container {
	position: relative;
	height: 200px;
	width: 380px;
	margin: 0 auto;
}

.circle {
	font-size: 0.58em;
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid rgba(191,191,191,0.5);
    text-align: center;
    line-height: 200px;
}

.circle_left {
	left: 0px;
	background-color: #fff;
}  

.circle_right {
    right: 0px;
}

@media only screen and (max-device-width: 480px) {
	section {
		margin: 20px 20px;
	}
	
	section:first-of-type {
		margin-top: 0px;
	}
	
	.circle {
		width: 150px;
		height: 150px;
		line-height: 150px;
	}
	
	.circle_container {
		position: relative;
		height: 190px;
		width: 98%;
	}
	
    .container {
		padding: 0 0;
        width: 300px;
    }
	
	.container img {
		max-height: 320px;
	}
	
	.content {
		padding-bottom: 0;
	}
	
	section.bottom {
		position: static;
		margin: 20px 20px;
		width: auto;
	}
}